*{
    padding: 0;
    margin: 0;
}
h2{
    width: 960px;
    height: 100px;
    margin: 50px auto 0;
    background: #cccccc;
    text-align: center;
    line-height: 100px;
}
#img-box{
    background:url("../../images/1.jpg") 0 0 no-repeat;
    width: 960px;
    height: 540px;
    margin:0 auto;
    background-size: 100% 100%;
}
#container{
    width: 960px;
    overflow: hidden;
    margin: 0 auto;
}
.left{
   background: red;
   width: 630px;
   height: 300px;
   float: left;
}
.right{
    background: blue;
    width: 300px;
    height: 300px;
    float: right;
}
@media screen and (max-width:960px){
    h2{
        width: 100%;
     }
     #img-box{
         background-image: url("../../images/2.jpg");
     }
     #container{
         width: 100%;
     }
     .left{
        width:65.6%;
    }
    .right{
        width:31.25%;
    }
} 
@media screen and (max-width:480px){
    h2{
        width: 100%;
     }
     #img-box{
         background-image: url("../../images/3.jpg");
     }
     #container{
        width: 100%;
    }
    .left{
       width:100%;
   }
   .right{
       width:100%;
   }
}